<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DocumentationLinker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DocumentationLinker.Properties.Settings>
            <setting name="TargetDirectoryPath" serializeAs="String">
                <value>..\..\..\..\..\Documentation</value>
            </setting>
            <setting name="DocumentDate" serializeAs="String">
                <value>2012. Április 22.</value>
            </setting>
            <setting name="DeleteLinkedLatexSource" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RedirectPdfLatexOutput" serializeAs="String">
                <value>False</value>
            </setting>
        </DocumentationLinker.Properties.Settings>
    </applicationSettings>
</configuration>