<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SourceLinesCounter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SourceLinesCounter.Properties.Settings>
            <setting name="SkeletonDirectoryPath" serializeAs="String">
                <value>..\Source\Skeleton\src</value>
            </setting>
            <setting name="PrototypeDirectoryPath" serializeAs="String">
                <value>..\Source\Prototype\src</value>
            </setting>
            <setting name="FinalDirectoryPath" serializeAs="String">
                <value>..\Source\Final\src</value>
            </setting>
        </SourceLinesCounter.Properties.Settings>
    </applicationSettings>
</configuration>